<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hud_bean_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,145},{229,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,74}}</string>
                <key>sourceSize</key>
                <string>{229,74}</string>
            </dict>
            <key>hud_bean_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,198},{53,56}}</string>
                <key>offset</key>
                <string>{-70,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{53,56}}</string>
                <key>sourceSize</key>
                <string>{229,74}</string>
            </dict>
            <key>hud_energy_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{255,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,74}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_energy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,145},{67,52}}</string>
                <key>offset</key>
                <string>{-84,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{67,52}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_energy_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
            <key>hud_energy_second_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,145},{239,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{239,58}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_energy_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,205},{193,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,41}}</string>
                <key>sourceSize</key>
                <string>{193,41}</string>
            </dict>
            <key>hud_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,140},{61,56}}</string>
                <key>offset</key>
                <string>{-87,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{61,56}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,196},{55,54}}</string>
                <key>offset</key>
                <string>{88,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_plus_button_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,140},{55,54}}</string>
                <key>offset</key>
                <string>{88,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,7},{55,54}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>hud_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,141}}</string>
                <key>sourceSize</key>
                <string>{768,141}</string>
            </dict>
            <key>map_star_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ui.png</string>
            <key>size</key>
            <string>{968,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd6d49c80b0fae0581c00dbc6087e4b4:1/1$</string>
            <key>textureFileName</key>
            <string>map_ui.png</string>
        </dict>
    </dict>
</plist>
